.transactor
  display: grid
  grid-template: 1fr /1fr auto
  margin-top: 1rem
  position: relative

  &--sender
    grid-template: 1fr 1fr /1fr auto

  &__line
    &--account
      grid-area: 1/1/2/2
    &--balance
      grid-area: 2/1/3/2

  &__actions
    display: flex
    margin-left: .5rem
    &--sender
      grid-area: 2/2/3/3

  &__action
    background: none
    padding: .5rem
    font-size: 1rem

  &__toolkit
    position: absolute
    bottom: 0
    right: 0
    transform: translateY(100%)
    text-align: center
    border-radius: .2rem
    justify-self: start
    display: inline-block
    padding: .1rem .5rem
    font-size: .8em
    background: $red
    color: $light
