
.users
  background: $light
  display: grid
  grid-template: auto 1fr /1fr
  width: 95%
  max-width: 35rem
  box-shadow: .2rem .2rem .8rem rgba($navy,.7)

  &__bar
    text-align: right
    background: $navy
    color: $light
    display: flex
    align-items: center
    padding: .5rem

    & a
      display: flex
    // background: blue

  &__list
    // padding: .5rem

  &__user
    display: grid
    grid-template: 1fr/1fr 1fr auto
    // border-bottom: 1px solid $cyan
    cursor: pointer

    &:hover
      background: $cyan
      color: $light
      box-shadow: 0 0 .4rem rgba($navy,0.4)
      text-shaddow: 0 0.8rem $light

    & > div
      padding: .4rem

    & > .link
      padding-left: 1rem
