
.users
  background: lighten($light,5%)
  display: grid
  grid-template: auto 1fr /1fr
  width: 100%
  max-width: 35rem
  box-shadow: .2rem .2rem .8rem rgba($navy,.2)

  &__bar
    text-align: right
    background: $navy
    color: $light
    display: flex
    align-items: center
    padding: .5rem

    & a
      display: flex
    // background: blue

  &__user
    display: grid
    grid-template: 1fr/1fr 1fr auto
    // border-bottom: 1px solid $cyan
    cursor: pointer

    &:hover
      background: lighten($cyan,65% )

    &>div
      padding: .4rem

    &>.link
      padding-left: 1rem
