#__next
  background: $white
  min-height: 100vh
  width: 100%
  display: grid
  grid-template: auto 1fr / 1fr
  align-items: center
  justify-items: center
  background-color: #008891
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23007e8c' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23007588' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23006b83' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2300627f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2300587a' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E")
  background-attachment: fixed
  background-size: cover

.main
  padding-top: 1rem
  width: 100%
  height: 100%
  display: flex
  align-items: flex-start
  justify-content: center

  &--user
    flex-direction: column
    justify-content: flex-start
    align-items: center

  &--prompt,
  &--new,
  &--login
    align-items: center
    padding-top: 0

  &__account
    margin-bottom: 1rem
